

.main-part{
	max-width: 1170px;
	margin: 120px auto 120px auto;
	display: flex;
	flex-direction: row; 
}

.main-content{
	max-width: 764px;
	display: flex;
	flex-direction: column;
}


.main-content h1{
	display: block;
	margin: 46px;
	font-size: 23px;
	font-family: "Montserrat-Bold";
}

@media only screen and (max-width: 764px){
	.main-content img{
		width: 100%;
		height: 100%;
	}

	.main-content h1{
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 14px;
	}

	.main-part{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.top-post-pane{
	padding: 0px;
	margin: 35px 0px  35px 46px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	font-size: 13px;
	font-family: "Montserrat-Regular";
}

.top-post-pane .date{
	width: 142px;
	height: 29px;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	color: #939393;
}

.circle-separator{
	width: 5px;
	height: 5px;
	border-radius: 2px;
	border: none;
	background: #c7c7c7;
	margin-left: 6px;
	margin-right: 6px;
}

.line-separator{
	width: 1px;
	height: 20px;
	border: none;
	background: #c7c7c7;
	margin-left: 14px;
	margin-right: 14px;
}

.date {
	line-height: 27px;
}

.top-post-pane div, .top-post-pane input{
	text-align: center; 
	display: inline-block;
	box-sizing: border-box;
}

.top-post-pane input{
	background-color: rgba(255, 255, 255, 0);
	border-color: #22bb66;
	border-radius: 3px;
	border: 1px solid ;
	color: #22bb66;
	min-width: 80px;
	height: 26px;
}


.top-post-pane input:hover{
	transition: 0.5s;
	background-color: #22bb66;
	color: #ffffff;
}


.main-content .description-box p {
	font-family: "Droid-Serif"
	font-size: 14px;
	margin: 35px 46px;
}

@media only screen and (max-width: 517px){
	div.line-separator, div.circle-separator{
		display: none;
	}

	.top-post-pane input, .top-post-pane div{
		margin: 3px;
	}

	.top-post-pane{
		margin: 0px 10px;
	}

	.main-content h1{
		margin: 0px 10px;
	}

	.main-content p{
		margin: 10px;
	}
}


.description-box{
	background-color: #ffffff;
	border-bottom: 1px solid #d6d6d6;
}

.description-box-footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 67px;
	background: #f9f9f9;
}


.description-box-footer .social-switcher{
	max-width: 170px;
	min-height: 18px;
	display: flex;
	justify-content: center;
}

.social-switcher a{
	display: block;
	height: 18px;
	width: 24px;
}

.description-box-footer > a{ 
	display: flex;
	text-decoration: none;
	color: #838383;
	font-family: "Montserrat-Regular";
	font-size: 12px;
	width: 174px;
	height: 29px;
	border: 1px solid #22bb66;
	border-radius: 3px;
}

.description-box-footer > a > div:first-child{
	box-sizing: border-box;
	width: 100%;
	height: 29px;
	text-align: center;
	padding-top: 7px;
}

.description-box-footer > a > div:last-child{
	width: 25px;
	height: 29px;
	background-color: #22bb66;
	background-image: url("icons/description-box/arrow-left-icon.png");
	background-position: 10px 10px;
	background-repeat: no-repeat;
}

.description-box-footer > a:hover > div:first-child{
	transition: 0.5s;
	background-color: #22bb66;
	color: #ffffff;
}

.description-box-footer > div, .description-box-footer > a{
	margin: auto 46px;
}

@media only screen and (max-width: 300px){
	.description-box-footer > div, .description-box-footer > a{
		margin: auto;
	}				
}

.social-share-comment{
	margin-top: 35px;
	box-sizing: border-box;
	min-height: 195px;
	background-color: #ffffff;
	border-bottom: 1px solid #d6d6d6;
	display: flex;
	align-items: center;
}

.social-share-comment div.author-photo{
	height: 105px;
	min-width: 105px;
	margin-left: 46px;
	background-image: url("photos/kurisu.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.social-share-comment div.comment-content{
	margin-left: 20px;
	margin-right: 46px;
	min-height: 107px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h3.author-name{
	display: block;
	font-size: 16px;
	font-family: "Montserrat-Bold";
	margin: 0px;
}


p.content-text{
	display: block;
	margin: 0px;
}

div.share-social{
	height: 17px;
	width: 100px;
	display: flex;
	flex-direction: row;
}

div.share-social > a{
	display: block;
	box-sizing: border-box;
	height: 100%;
	width: 25%;
}

div.share-social > a:nth-child(1){
	background-image: url("icons/sprites/social-sprite.png");
	background-repeat: no-repeat;
	background-position: 4px 0px;
}

div.share-social > a:nth-child(1):hover{
	background-image: url("icons/sprites/social-sprite-hover.png");
}

div.share-social > a:nth-child(2){
	background-image: url("icons/sprites/social-sprite.png");
	background-repeat: no-repeat;
	background-position: -20px 0px;
}

div.share-social > a:nth-child(2):hover{
	background-image: url("icons/sprites/social-sprite-hover.png");
}

div.share-social > a:nth-child(3){
	background-image: url("icons/sprites/social-sprite.png");
	background-repeat: no-repeat;
	background-position: -44px 0px;
}

div.share-social > a:nth-child(3):hover{
	background-image: url("icons/sprites/social-sprite-hover.png");
}

div.share-social > a:nth-child(4){
	background-image: url("icons/sprites/social-sprite.png");
	background-repeat: no-repeat;
	background-position: -72px 0px;
}

div.share-social > a:nth-child(4):hover{
	background-image: url("icons/sprites/social-sprite-hover.png");
}

@media only screen and (max-width: 600px){
	div.author-photo{
		display: none;
	}

	.description-box{
		margin-bottom: 10px;
	}

	.social-share-comment{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}