

.main-part{
	max-width: 1170px;
	margin: 120px auto 120px auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
}

.main-content{
	max-width: 764px;
	display: flex;
	flex-direction: column;
}


@media only screen and (max-width: 1130px){
	.main-part{
		flex-wrap: wrap;
		justify-content: center;
	}

	.additional-content{
		margin-top: 35px;
	}
}

.main-content h1{
	display: block;
	margin: 46px;
	font-size: 23px;
	font-family: "Montserrat-Bold";
}

@media only screen and (max-width: 764px){
	.main-content img{
		width: 100%;
		height: 100%;
	}

	.main-content h1{
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 14px;
	}

	.main-part{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.top-post-pane{
	padding: 0px;
	margin: 35px 0px  35px 46px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	font-size: 13px;
	font-family: "Montserrat-Regular";
}

.top-post-pane .date{
	width: 142px;
	height: 29px;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	color: #939393;
}

.circle-separator{
	width: 5px;
	height: 5px;
	border-radius: 2px;
	border: none;
	background: #c7c7c7;
	margin-left: 6px;
	margin-right: 6px;
}

.line-separator{
	width: 1px;
	height: 20px;
	border: none;
	background: #c7c7c7;
	margin-left: 14px;
	margin-right: 14px;
}

.date {
	line-height: 27px;
}

.top-post-pane div, .top-post-pane input{
	text-align: center; 
	display: inline-block;
	box-sizing: border-box;
}

.top-post-pane input{
	background-color: rgba(255, 255, 255, 0);
	border-color: #22bb66;
	border-radius: 3px;
	border: 1px solid ;
	color: #22bb66;
	min-width: 80px;
	height: 26px;
}


.top-post-pane input:hover{
	transition: 0.5s;
	background-color: #22bb66;
	color: #ffffff;
}


.main-content .description-box p {
	font-family: "Droid-Serif"
	font-size: 14px;
	margin: 35px 46px;
}

@media only screen and (max-width: 517px){
	div.line-separator, div.circle-separator{
		display: none;
	}

	.top-post-pane input, .top-post-pane div{
		margin: 3px;
	}

	.top-post-pane{
		margin: 0px 10px;
	}

	.main-content h1{
		margin: 0px 10px;
	}

	.main-content p{
		margin: 10px;
	}
}


.description-box{
	background-color: #ffffff;
	border-bottom: 1px solid #d6d6d6;
}

.description-box-footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 67px;
	background: #f9f9f9;
}


.description-box-footer .social-switcher{
	max-width: 170px;
	min-height: 18px;
	display: flex;
	justify-content: center;
}

.social-switcher a{
	display: block;
	height: 18px;
	width: 24px;
}

.description-box-footer > a{ 
	display: flex;
	text-decoration: none;
	color: #838383;
	font-family: "Montserrat-Regular";
	font-size: 12px;
	width: 174px;
	height: 29px;
	border: 1px solid #22bb66;
	border-radius: 3px;
}

.description-box-footer > a > div:first-child{
	box-sizing: border-box;
	width: 100%;
	height: 29px;
	text-align: center;
	padding-top: 7px;
}

.description-box-footer > a > div:last-child{
	width: 25px;
	height: 29px;
	background-color: #22bb66;
	background-image: url("icons/description-box/arrow-left-icon.png");
	background-position: 10px 10px;
	background-repeat: no-repeat;
}

.description-box-footer > a:hover > div:first-child{
	transition: 0.5s;
	background-color: #22bb66;
	color: #ffffff;
}

.description-box-footer > div, .description-box-footer > a{
	margin: auto 46px;
}

@media only screen and (max-width: 300px){
	.description-box-footer > div, .description-box-footer > a{
		margin: auto;
	}				
}

.social-share-comment{
	margin-top: 35px;
	box-sizing: border-box;
	min-height: 195px;
	background-color: #ffffff;
	border-bottom: 1px solid #d6d6d6;
	display: flex;
	align-items: center;
}

.social-share-comment div.author-photo{
	height: 105px;
	min-width: 105px;
	margin-left: 46px;
	background-image: url("photos/kurisu.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.social-share-comment div.comment-content{
	margin-left: 20px;
	margin-right: 46px;
	min-height: 107px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h3.author-name{
	display: block;
	font-size: 16px;
	font-family: "Montserrat-Bold";
	margin: 0px;
}


p.content-text{
	display: block;
	margin: 0px;
}

div.share-social{
	height: 17px;
	width: 100px;
	display: flex;
	flex-direction: row;
}

div.share-social > a{
	display: block;
	box-sizing: border-box;
	height: 100%;
	width: 25%;
}

div.share-social > a:nth-child(1){
	background-image: url("icons/sprites/social-sprite.png");
	background-repeat: no-repeat;
	background-position: 4px 0px;
}

div.share-social > a:nth-child(1):hover{
	background-image: url("icons/sprites/social-sprite-hover.png");
}

div.share-social > a:nth-child(2){
	background-image: url("icons/sprites/social-sprite.png");
	background-repeat: no-repeat;
	background-position: -20px 0px;
}

div.share-social > a:nth-child(2):hover{
	background-image: url("icons/sprites/social-sprite-hover.png");
}

div.share-social > a:nth-child(3){
	background-image: url("icons/sprites/social-sprite.png");
	background-repeat: no-repeat;
	background-position: -44px 0px;
}

div.share-social > a:nth-child(3):hover{
	background-image: url("icons/sprites/social-sprite-hover.png");
}

div.share-social > a:nth-child(4){
	background-image: url("icons/sprites/social-sprite.png");
	background-repeat: no-repeat;
	background-position: -72px 0px;
}

div.share-social > a:nth-child(4):hover{
	background-image: url("icons/sprites/social-sprite-hover.png");
}

@media only screen and (max-width: 600px){
	div.author-photo{
		display: none;
	}

	.description-box{
		margin-bottom: 10px;
	}

	.social-share-comment{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}



/* PLAYFAIR DISPLAY */

div.content-displays{
	width: 770px;
	margin-top: 45px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

div.content-displays div{
	box-sizing: border-box;
	display: flex;
	height: 143px;
	width: 244px;
	background-color: #404040;
	justify-content: center;
	align-items: center;
}

.content-displays div span{
	display: block;
	box-sizing: border-box;
	color: #ffffff;
	padding: 10px 12px 10px 12px;
	font-family: "Montserrat-Bold";
	font-size: 14px;
}

div.content-displays div:hover{
	transition: 0.7s;
	background: #ffffff;
	border: 1px solid #404040;
}

div.content-displays div:hover span{
	border: 1px solid #404040;
	color: #404040;
}

 
@media only screen and (max-width: 770px){
	div.content-displays{
		width: 100%;
		height: auto;
		margin: 10px 0px;
		justify-content: center;
	}

	.content-displays div{
		margin: 3px;
	}

}


/* CLOSED COMMENTARY */

div.closed-comment{
	margin-top: 45px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	border-bottom: 1px solid #d6d6d6;
}



.closed-comment .info{
	display: flex;
	margin: 35px 35px 0px 35px;
	flex-direction: row;
	justify-content: space-between;
}


.info .author{
	display: flex;
	flex-direction: row;
	font-family: "Montserrat-Bold";
}


.closed-comment .info .author-photo{
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 67px;
	height: 65px;
	margin-right: 30px;
}

.closed-comment .info .kurisu{
	background-image: url("photos/kurisu.jpg");
}

.closed-comment .info .ui{
	background-image: url("photos/Ui.jpg");
}

.closed-comment .info .hitagi{
	background-image: url("photos/hitagi.jpg");
}

.closed-comment .info h3{
	font-size: 18px;
	margin: 0px;
	padding: 0px;
	margin-bottom: 6px;
}

.closed-comment .decoration{
	box-sizing: border-box;
	background-image: url("icons/commentary/corner-icon.png");
	background-repeat: 0px;
	height: 19px;
	width: 10px;
}

.closed-comment .info span{
	margin: 0px;
	padding: 0px;
	display: block;
	color: #22bb66;
	font-size: 11px;
}

.closed-comment p.content{
	display: block;
	font-family: "Droid-Serif";
	font-size: 14px;
	margin: 35px 25px 35px 25px;
}

.closed-comment:hover .decoration {
	background-image: url("icons/commentary/corner-icon-hover.png")	;
}


@media only screen and (max-width: 500px){
	div.closed-comment{
		margin-top: 10px;
	}
}



/* message form */

form.message-us{
	padding: 40px 30px;
	margin-top: 45px;
	background-color: #ffffff;
	border-bottom: 1px solid #d6d6d6;
	display: flex;
	flex-direction: column;
}

.message-us h3{
	margin: 0px;
	padding: 0px;
	font-family: "Montserrat-Bold";
	font-size: 18px;
	margin-bottom: 25px;
}

.message-us .form-top-fields{
	margin-bottom: 25px;
	display: flex;
}

.message-us .form-top-fields input{
	display: block;
	box-sizing: border-box;
	height: 38px;
	margin: 0px;
	margin-right: 20px;
	width: 100%;
}

.message-us .text-box{
	box-sizing: border-box;
	height: 262px;
	width: 100%;
	margin-bottom: 30px;
}

.message-us input[type="text"], .message-us textarea{
	border: 1px solid #e9e9e9;
	padding-left: 10px;
	padding-right: 10px;
	outline-color: #22bb66;
	font-family: "Droid-Serif";
	font-size: 13px;
}

.message-us .form-top-fields input:last-child{
	margin-right: 0px;
}

.message-us input[type="text"]:focus, .message-us textarea:focus{
	border-color: #22bb66;
	box-shadow: none;
}

.message-us textarea{
	resize: none;
	padding: 7px 10px;
}

.message-us .button-submit{
	width: 160px;
	height: 47px;
	border: none;
	background: #22bb66;
	color: #ffffff;
	font-family: "Montserrat-Bold";
	font-size: 13px;
	outline-color: #22bb40;
}

.message-us .button-submit:hover{
	transition: 0.3s;
	background-color: #22bb40;
}

@media only screen and (max-width: 500px){
	
	form.message-us{
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 3px;
	}

	.message-us h3{
		margin-bottom: 10px;
	}

	.message-us .text-box{
		margin-bottom: 10px;
	}

	.message-us .button-submit{
		width: 100%;
	}


	.message-us .form-top-fields{
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 10px;
	}

	.message-us .form-top-fields input{
		margin: 5px 10px;
	}

	.message-us .form-top-fields input:last-child{
		margin: 5px 10px;
	}
}




/* ADDITIONAL COLUMN START */

.additional-content{
	background: none;
}

.world-gift-box{
	box-sizing: border-box;	
	background: #ffffff;
	padding: 35px 30px;
	width: 360px;
	height: 464px;
	border-bottom: 1px solid #d6d6d6;
}

.world-gift-box div{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: #808080;
	padding: 35px;
	justify-content: flex-end;
}


.world-gift-box div span{
	display: block;
	margin-top: 12px;
	padding: 0px;
	text-align: center;
	font-family: "Montserrat-Bold";
	font-size: 12px;
	color: #71f9ae;
}

@media only screen and (max-width: 360px){
	.world-gift-box{
		padding: 5px;
		width: 100%;
		height: auto;
		margin: 10px 0px;
	}

	.world-git-box div{
		padding: 5px;
	}

	.world-gift-box div img{
		height: 100%;
		width: 100%;
	}


	div.follow-me{
		width: 100%;
		height: auto;
		padding: 5px;
		align-items: center;
	}

	.share-on{
		justify-content: center;
	}


	.share-on .double-line{
		display: none;
	}

	.follow-me span.no-link{
		display: none;
	}

	.follow-me .follow-links{
		margin-top: 5px;
	}
}


.follow-me{
	margin: 0px;
	margin-top: 45px;
	padding: 25px 30px 60px 30px;
	background: #ffffff;
	border-bottom: 1px solid #d6d6d6;
	display: flex;
	flex-direction: column;
}



.follow-me a {
	display: inline-block;
	text-decoration: none;
	box-sizing: border-box;
	color: #ffffff;
	background-color: #000000; 
	width: 31px;
	height: 31px;
	padding: 0px
	padding-top: 5px;
	vertical-align: middle;
	text-align: center;
	border-radius: 50%;
}

.follow-me a:hover{
	background: #22bb66;
}

.follow-me span:nth-child(1), .follow-me span:nth-child(2){
	color: #c7c7c7;
	font-size: 12px;
	font-family: "Montserrat-Bold";
	margin-right: 15px;
} 


.follow-me a i {
	margin: 0px;
	padding: 5px;
	font-size: 20px;
}

.follow-me .follow-links{
	margin-top: 40px;
}

.share-on{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.share-on .double-line{
	box-sizing: border-box;
	width: 70px;
	height: 4px;
	background: none;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	margin: 0px;
}

.share-on .label{
	width: 110px;
	height: 32px;
	background: none;
	border: 1px solid #d6d6d6;
	border-radius: 3px; 
	color: #d6d6d6;	
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.share-on .label span{
	font-family: "Montserrat-Regular";
	font-size: 10px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}


.lara-croft-ad{
	box-sizing: border-box;
	margin-top: 45px;
	width: 360px;
	background-color: #ffffff;
	border-bottom: 1px solid #d6d6d6;
	padding: 30px 30px 45px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lara-croft-ad .share-on{
	width: 100%;
}


.lara-croft-ad > a{
	color: #22bb66;
	text-decoration: none;
	margin-top: 20px;
	display: block;
}


.lara-croft-ad > a > span{
	text-decoration: underline;
}

.lara-croft-ad > a:hover{
	color: #22bb40;
}

.lara-croft-ad > a:hover span{
	margin-right: 3px;
}

.lara-croft-ad p{
	padding: 0px;
	margin: 0px;
	margin-top: 40px;
	text-align: center;
	font-size: 14px;
	color: #4a4a4a;
	font-family: "Droid-Serif";
}

.lara-croft-ad .croft-photo{
	box-sizing: border-box;
	margin-top: 40px;
}

.lara-croft-ad .croft-signature{
	margin-top: 25px;
}

.lara-croft-ad .share-switch{
	margin-top: 30px;
}

.lara-croft-ad .share-switch a{
	text-decoration: none;
	color: #000000;
}

.lara-croft-ad .share-switch a:hover{
	color: #22bb66;
}


.lara-croft-ad .share-switch a:nth-child(1), .lara-croft-ad .share-switch a:nth-child(2){
	margin-right: 10px;
}



.e-mail-subscribe{
	box-sizing: border-box;
	width: 360px;
	margin-top: 55px;
	padding: 30px 30px 60px 30px;
	background: #ffffff; 
	border-bottom: 1px solid #d6d6d6;
	display: flex;
	flex-direction: column;
}

.e-mail-subscribe form{
	margin-top: 30px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.e-mail-subscribe form input[type="text"]{
	box-sizing: border-box;
	width: 100%;
	height: 43px;
	padding: 0px 8px;
	margin: 0px;
	border: none;
	background: #f8f8f8;
	outline: none;
	font-family: "Montserrat-Regular";
	font-weight: bold;
	font-size: 13px;
}

.e-mail-subscribe form input[type="text"]:focus{
	border: 2px solid #22bb66;
}

.e-mail-subscribe form input[type="submit"]{
	box-sizing: border-box;
	width: 100%;
	height: 43px;
	padding: 0px;
	margin: 0px;
	border: none;
	border-radius: 0px 0px 5px 5px;
	background: #22bb66;
	outline: none;
	font-family: "Montserrat-Bold";
	font-size: 14px;
	color: #ffffff;
}

.e-mail-subscribe form input[type=submit]:hover{
	background-color: #22bb40;
}


@media only screen and (max-width: 165px){
	.lara-croft .croft-signature{
		width: 100%;
	}
}



.commentary-list{
	box-sizing: border-box;
	width: 360px;
	padding: 25px 30px 30px 30px;
	margin-top: 45px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #ffffff;
	border-bottom: 1px solid #d6d6d6;
}

.commentary-list .share-on{
	width: 100%;
}

.commentary-list .topic{
	margin: 0px;
	margin-top: 30px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.commentary-list .topic:first-child{
	margin-top: 35px;
}

.commentary-list .topic img{
	width: 60px;
	height: 60px;
	margin: 0px;
	margin-right: 15px;
}

.topic-info{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
	align-items: flex-start;
}

.commentary-list .topic h3{
	display: block;
	padding: 0px;
	margin: 0px;
	font-family: "Montserrat-Bold";
	font-size: 15px;
}

.commentary-list .topic a{
	text-decoration: none;
	display: block;
	margin-top: 5px;
	color: #dfdfdf;
	font-size: 12px;
	font-family: "Montserrat-Regular";
}

.commentary-list .topic a span{
	color: #838383;
}

.commentary-list .topic a i{
	margin-right: 7px;
}

.commentary-list .topic a:hover{
	color: #000000;
}

.commentary-list .topic a:hover span{
	color: #000000;
}


@media only screen and (max-width: 360px){
	.world-gift-box{
		padding: 5px;
		width: 100%;
		height: auto;
		margin: 10px 0px;
	}

	.world-git-box div{
		padding: 5px;
	}

	.world-gift-box div img{
		height: 100%;
		width: 100%;
	}


	div.follow-me{
		width: 100%;
		height: auto;
		padding: 5px;
		align-items: center;
	}

	.share-on{
		justify-content: center;
	}


	.share-on .double-line{
		display: none;
	}

	.follow-me span.no-link{
		display: none;
	}

	.follow-me .follow-links{
		margin-top: 5px;
	}

	div.lara-croft-ad{
		width: 100%;
		padding: 5px;
	}

	.lara-croft-ad .croft-photo{
		width: 100%;
	}

	div.e-mail-subscribe{
		width: 100%;
		padding: 5px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.commentary-list{
		padding: 5px;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.commentary-list .topic img{
		display: none;
	}

	.commentary-list .topic:first-child{
		margin-top: 10px;
	}

	.commentary-list .topic{
		margin-top: 5px;
	}
}