

@font-face{
	font-family: "Montserrat-Bold";
	src: url("font/Montserrat/Montserrat-Bold.ttf");
}

@font-face{
	font-family: "Bira-PERSONALUSEONLY";
	src: url("font/Bira/Bira-PERSONALUSEONLY.ttf");
}

@font-face{
	font-family: "Montserrat-Regular";
	src: url("font/Montserrat/Montserrat-Regular.ttf");
}

@font-face{
	font-family: "Droid-Serif";
	src: url("font/Droid-Serif/DroidSerif-Regular.ttf");
}

@font-face{
	font-family: "Playfair-Display";
	src: url("font/Playfair-Display/PlayfairDisplay-Italic.ttf");
}